@font-face {
  font-family: "Bambino-Black";
  font-style: normal;
  font-weight: normal;
  src: local("Bambino-Black"), url("./fonts/Bambino Black.woff") format("woff");
}
@font-face {
  font-family: "Bambino-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Bambino-Bold"), url("./fonts/Bambino\ Bold.woff") format("woff");
}
@font-face {
  font-family: "Bambino-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bambino-Regular"), url("./fonts/Bambino.woff") format("woff");
}

html {
  --black: "Bambino-Black";
  --bold: "Bambino-Bold";
  --regular: "Bambino-Regular";
  --dark-yellow: #d8a448;
  --medium-yellow: #fed481;
  --light-yellow: #fff0c0;
  --dark-red: #e05151;
  --medium-red: #fd8180;
  --dark-green: #169986;
  --medium-green: #3ccdbf;
  --dark-blue: #256e93;
  --nav-width: 100vw;
  --nav-height: 100px;
  --featured-img-width: 200px;
  --featured-img-height: 200px;
  --nav-content-padding: 2rem;
  --link-transition: 0.2s all ease-in;
  --button-transition: 0.1s all ease-in-out;
  --sideline-responsive-height: 100.1vh;
  --sideline-responsive-position: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Bambino-Regular";
}

.main {
  overflow-x: hidden;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.section-center {
  width: 80%;
  margin: auto;
}

/*************** Navbar ***************/
nav {
  width: var(--nav-width);
  height: var(--nav-height);
  z-index: 50;
  top: 0;
  background: rgba(255, 240, 192, 0.8);
}

.fixed {
  margin-bottom: calc(var(--nav-height) + 2rem);
}
.single-fixed {
  margin-bottom: var(--nav-height);
}

.navbar {
  height: var(--nav-height);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Bambino-Bold";
}

.menu-slide,
.left-mobile,
.right-mobile {
  display: none;
}

.navbar .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: var(--dark-red);
  font-size: 1.5rem;
  transition: var(--link-transition);
}

.link:hover {
  color: var(--dark-green);
}

.navbar .middle {
  width: 105px;
  margin: 0 auto;
}

.navbar .middle img {
  position: relative;
  width: 100%;
}

.left-mobile {
  width: 250px;
}

.left-mobile img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.navbar .right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-icon {
  position: relative;
}

.cart-items {
  position: absolute;
  right: -30%;
  top: -20%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: var(--dark-red);
  color: white;
}

.cart-items p {
  position: relative;
  top: -20%;
  right: -30%;
}

.icon {
  color: var(--dark-red);
  font-size: 2.2rem;
  transition: var(--link-transition);
  cursor: pointer;
}
.icon:hover {
  color: var(--dark-green);
}
/*************** End Navbar ***************/

/*************** Header ***************/

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header-sideline-img-1 {
  overflow-x: hidden;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.header-sideline-img-2 {
  overflow-x: hidden;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.image-container {
  width: 100vw;
  height: 100vh;
  z-index: -4;
  background: var(--light-yellow);
}

.header-img {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  object-fit: cover;
}

.header-info {
  position: absolute;
  top: 55%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 5;
}

.header-info span {
  display: none;
}

.header-info h1 {
  font-size: 7rem;
}

.header-info h2 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.header-info .heading-1 {
  display: block;
}
.header-info .heading-2 {
  display: none;
}

.header-container h3 {
  color: white;
  position: absolute;
  left: 12%;
  bottom: 2%;
  z-index: 5;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.header-btn-background img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

.header-btn {
  background: none;
  color: white;
  border: none;

  margin-top: 2rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
  position: relative;
  transition: var(--button-transition);
  font-family: "Bambino-Bold";
}

.header-btn a {
  font-size: 2rem;
}

.header-btn img {
  width: 400px;
  height: 400px;
}

.rainbow-img-container {
  position: absolute;
  right: 0;
  bottom: -0.8%;
  z-index: 5;
  width: 900px;
}

.rainbow-img {
  width: 100%;
}
/*************** End Header ***************/

/*************** Intro ***************/
.intro {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.intro-sideline-img-1 {
  position: absolute;
  top: -0.1%;
  left: var(--sideline-responsive-position);
  height: var(--sideline-responsive-height);
  z-index: 5;
  pointer-events: none;
}

.intro-sideline-img-2 {
  position: absolute;
  top: -0.1%;
  right: var(--sideline-responsive-position);
  height: var(--sideline-responsive-height);
  z-index: 5;
  pointer-events: none;
}

.intro-details {
  padding-top: 1rem;
}

.intro-title {
  text-align: center;
  font-size: 2.6rem;
}

.intro-subtitle {
  margin-top: -1.2rem;
}

.single-detail img {
  width: 15%;
  justify-self: end;
}

.single-detail .img-1 {
  width: 17%;
}

.single-detail {
  padding-bottom: 2rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.single-detail-mobile {
  display: none;
}

.intro-main-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-detail-text {
  width: 700px;
}

.main-detail-text h2 {
  font-size: 2.2rem;
  text-align: center;
}

.main-detail-text div {
  margin: 0 auto;
}

.main-detail-text p {
  font-size: 1.5rem;
  text-align: center;
}
/*************** End Intro ***************/

/*************** Featured ***************/
.featured-products {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.featured-sideline-img-1 {
  position: absolute;
  top: -0.1%;
  left: var(--sideline-responsive-position);
  height: var(--sideline-responsive-height);
  z-index: 5;
  pointer-events: none;
}

.featured-sideline-img-2 {
  position: absolute;
  top: -0.1%;
  right: var(--sideline-responsive-position);
  height: var(--sideline-responsive-height);
  z-index: 5;
  pointer-events: none;
}

.featured-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.featured-img {
  width: 40%;
  z-index: 1;
}

.featured-image-shadow {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-red);
}

.rainbow {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 900px;
  pointer-events: none;
}

.leaf {
  position: absolute;
  top: -55%;
  left: 30%;
  z-index: -2;
}

.single-featured-detail {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.featured-img-container {
  width: 25%;
  position: relative;
  margin-right: 2rem;
}

.featured-img-container img {
  width: var(--featured-img-width);
  border-radius: 50%;
}

.featured-img-shadow {
  position: absolute;
  width: var(--featured-img-width);
  height: var(--featured-img-height);
  border-radius: 50%;
  background: var(--dark-red);
  left: -4%;
  top: -7%;
  z-index: -1;
  filter: blur(2px);
}

.cherry {
  background: #d2042d;
  filter: blur(0);
}

.featured-text {
  width: 100%;
}

.single-featured-detail-1 {
  position: relative;
  left: -2%;
}

.single-featured-detail-2 {
  position: relative;
  left: 3%;
}

.single-featured-detail-3 {
  position: relative;
  left: 7%;
}

.single-featured-detail p {
  font-size: 1.5rem;
  text-align: center;
}
.single-featured-detail h2 {
  font-size: 2.5rem;
  text-align: center;
}

/*************** End Featured ***************/

/*************** Footer ***************/
footer {
  width: 100vw;
  height: 90vh;
  background: var(--light-yellow);
  position: relative;
  z-index: 6;
}

.footer-title-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.footer-title-img-container {
  text-align: center;
}

.footer-title-container img {
  width: 170px;
}

.footer-title {
  text-align: center;
}

.footer-title a {
  color: var(--dark-red);
}

.footer-title a:hover {
  color: var(--dark-green);
}

.insta-posts {
  width: 100vw;
  height: 25vw;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.footer-img-left img {
  position: relative;
  left: -30%;
  top: -15%;
  height: 100%;
  width: 200%;
  object-fit: cover;
}

.footer-img-middle {
  background: white;
  z-index: 5;
}

.footer-img-right img {
  width: 120%;
  position: relative;
  left: -20%;
}

.footer-brand-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-brand-img-container {
  text-align: center;
  padding-top: 1rem;
}

.footer-brand-img-container img {
  width: 30%;
  align-self: center;
}

.footer-brand {
  font-size: 6rem;
  color: var(--dark-blue);
  text-align: center;
}

.footer-bottom {
  background: #b0acac;
  width: var(--nav-width);
  height: var(--nav-height);
  z-index: 10;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-bottom-container {
  background-color: #ffffff;
  opacity: 70%;
}

.footer-bottom-main {
  height: var(--nav-height);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Bambino-Bold";
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-main div {
  font-size: 1.5rem;
}

.footer-bottom-left {
  text-align: start;
}
.footer-bottom-middle {
  text-align: center;
}
.footer-bottom-right {
  text-align: end;
}
.footer-bottom-mobile {
  display: none;
}
/*************** End Footer ***************/

/*************** Products Page ***************/
.product-section-layout {
  min-height: calc(100vh - var(--nav-height));
  display: grid;
  grid-template-columns: 300px 1fr;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.products-page {
  background: var(--light-yellow);
}

.products-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 5rem;
  gap: 3rem;
}

.product-card {
  border: 1px solid lightgray;
  transition: all 0.1s ease-in;
  cursor: pointer;
  background: white;
}

.product-card:hover {
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.61);
}

.product-card-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.product-info {
  padding: 1rem;
}

.product-card h1 {
  padding-bottom: 0.5rem;
}

.product-card p {
  padding-bottom: 1rem;
}

.product-img img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

.product-btn {
  padding: 0.7rem 1rem;
  background: var(--dark-red);
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.product-btn:hover {
  background: var(--dark-green);
}

.product-category-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--dark-red);
  text-transform: capitalize;
  cursor: pointer;
  padding-bottom: 1rem;
}

.product-card-link {
  color: inherit;
}

.single-slide-active {
}

.single-slide-container {
  pointer-events: none;
}

.single-slide-container img {
  width: 200px;
}

.single-slide-container h3 {
  color: var(--dark-red) !important;
}
.single-slide-container h3 {
  color: var(--dark-green);
}

.carousel {
  margin-top: 2rem;
  cursor: pointer;
  width: 70vw;
  position: relative;
  margin-bottom: 1rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}
.swiper {
  text-align: center !important;
}
.arrows-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: absolute;
  width: 70vw;
  top: 50%;
  right: 50%;
  transform: translate(50%, -60%);
  z-index: 100;
  pointer-events: none;
}

.swiper-prev img,
.swiper-next img {
  pointer-events: all;
  width: 50px;
}
/*************** End Products Page ***************/

/*************** Single Product Page ***************/
section {
  overflow-x: hidden;
}
.single-product-layout {
  display: grid;
  width: 80vw;
  grid-template-columns: 1fr 1fr;
  padding-top: 3rem;
  margin: 0 auto;
  min-height: calc(100vh - var(--nav-height) - 40px);
}

.image-gallery {
  margin: 0 auto;
  width: 70%;
}

.image-gallery img {
  width: 100%;
  display: block;
}

.main-gallery-image {
  height: 450px;
  object-fit: cover;
}

.sub-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}

.sub-images img {
  display: block;
  width: 100%;
  cursor: pointer;
}

.single-product-bar {
  width: 100vw;
  height: 40px;
  background: var(--dark-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-product-bar p {
  color: white;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.single-product-details h1 {
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.single-product-details h3 {
  font-size: 1.5rem;
  margin-bottom: -1rem;
}

.single-product-details p {
  white-space: pre-wrap;
}

.description-toggle-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0;
}

.description-toggle-btn-container p {
  font-size: 1.2rem;
}

.cart-btn-background {
  width: 200px;
  margin-left: -2rem;
  padding-bottom: 1rem;
}

.cart-btn-background img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

.cart-btn {
  background: none;
  width: 100%;
  color: white;
  border: none;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
  position: relative;
  transition: var(--button-transition);
  font-family: "Bambino-Bold";
}

.cart-btn h6 {
  font-size: 1rem;
}

.single-product-back-btn {
  display: none;
}

.also-like-container {
  margin-top: -3rem;
}

.also-like-container h1 {
  text-align: center;
  padding-bottom: 3rem;
  font-size: 2.5rem;
}

.single-detail-also-like {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.5rem;
  text-align: center;
}

.single-product-slide-container {
  padding-top: 10px;
}

.single-product-slide-container img {
  box-shadow: -11px -11px 5px 0px rgba(254, 212, 129, 0.75);
  -webkit-box-shadow: -11px -11px 5px 0px rgba(254, 212, 129, 0.75);
  -moz-box-shadow: -11px -11px 5px 0px rgba(254, 212, 129, 0.75);
  width: 250px;
}

.single-product-slide-container h3 {
  color: var(--dark-red) !important;
}
.single-product-slide-container p {
  color: var(--dark-red);
}

.single-carousel {
  padding-top: 2rem;
  cursor: pointer;
  width: 90vw;
  margin-bottom: 1rem;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
}
.swiper {
  text-align: center !important;
  display: flex;
  justify-content: center;
}
.single-arrows-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: absolute;
  width: 90vw;
  top: 50%;
  right: 50%;
  transform: translate(50%, -60%);
  z-index: 100;
  pointer-events: none;
}

.single-swiper-prev,
.single-swiper-next {
  color: var(--dark-red);
  cursor: pointer;
  font-size: 2rem;
  pointer-events: all;
}
/*************** End Single Product Page ***************/

@media screen and (max-width: 1800px) {
  html {
    --sideline-responsive-position: -3%;
  }
  .header-sideline-img-1 {
    left: -3%;
  }
  .header-sideline-img-2 {
    right: -3%;
  }
  footer {
    height: 75vh;
  }
  .intro {
    height: 950px;
  }
  .featured-products {
    height: 900px;
  }
}

@media screen and (max-width: 1600px) {
  html {
    --featured-img-width: 170px;
    --featured-img-height: 170px;
    --sideline-responsive-height: 850px;
    --sideline-responsive-position: -3.9%;
  }

  .header-sideline-img-1 {
    left: -5%;
  }

  .header-sideline-img-2 {
    right: -5%;
  }

  .products-layout {
    grid-template-columns: 1fr 1fr;
  }
  footer {
    height: 70vh;
  }
  .intro {
    height: 850px;
  }
  .featured-products {
    height: 800px;
  }
  .main-detail-text h2 {
    font-size: 2rem;
    text-align: center;
  }
  .main-detail-text p {
    font-size: 1rem;
  }
  .main-detail-text div {
    width: 90%;
  }
  .intro-layout img {
    width: 11%;
  }

  .intro-layout .img-1 {
    width: 13%;
  }
  .header-info h1 {
    font-size: 6rem;
  }

  .header-info h2 {
    margin-top: 2rem;
    font-size: 3rem;
    letter-spacing: 2px;
  }

  .single-featured-detail h2 {
    font-size: 2rem;
    text-align: center;
  }
  .single-featured-detail p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1366px) {
  html {
    --featured-img-width: 150px;
    --featured-img-height: 150px;
    --sideline-responsive-height: 750px;
    --sideline-responsive-position: -2.6%;
  }
  .intro {
    height: 750px;
  }
  .featured-products {
    height: 750px;
  }
  footer {
    height: 60vh;
  }
  .product-section-layout {
    grid-template-columns: 250px 1fr;
  }
  .footer-title-container h1 {
    font-size: 1.5rem;
  }
  .rainbow-img-container {
    width: 700px;
  }
  .rainbow {
    width: 700px;
  }
}

@media screen and (max-width: 1100px) {
  .products-layout {
    grid-template-columns: 1fr;
  }
  .product-section-layout {
    grid-template-columns: 200px 1fr;
  }
  .footer-title-img-container {
    display: none;
  }
  .single-detail {
    width: 100%;
  }
  .single-featured-detail {
    width: 70%;
  }

  .intro-sideline-img-1,
  .header-sideline-img-1,
  .header-sideline-img-2,
  .intro-sideline-img-2,
  .featured-sideline-img-1,
  .featured-sideline-img-2 {
    display: none;
  }
  .rainbow-img-container {
    width: 600px;
  }
  .rainbow {
    width: 600px;
  }
  .header-info h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    --featured-img-width: 150px;
    --featured-img-height: 150px;
  }
  .product-section-layout {
    grid-template-columns: 1fr;
  }
  .categories {
    text-align: center;
    padding-bottom: 3rem;
  }
  .rainbow-img-container,
  .rainbow {
    display: none;
  }
  .intro {
    height: 100vh;
  }
  .single-detail {
    flex-direction: column;
  }
  .single-featured-detail {
    flex-direction: column;
  }
  .featured-products {
    height: 100vh;
  }

  .featured-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .featured-img {
    width: 40%;
    z-index: 1;
  }

  .single-featured-detail p {
    font-size: 1rem;
    text-align: center;
  }
  .single-featured-detail h2 {
    font-size: 2rem;
    text-align: center;
  }
  .navbar .left,
  .navbar .middle,
  .navbar .right {
    display: none;
  }

  .left-mobile,
  .right-mobile {
    display: block;
  }
  .left-mobile img {
    display: block;
    width: 40%;
    position: relative;
    left: 10%;
    top: 50%;
  }
  .right-mobile {
    justify-self: end;
    align-self: center;
    cursor: pointer;
  }
  .menu-btn {
    font-size: 2.5rem;
    color: var(--dark-red);
  }
  .exit-btn {
    position: absolute;
    color: white;
    right: 10%;
    top: 2%;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .menu-slide {
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    position: absolute;
    transition: all 0.3s ease-in-out;
    background-color: var(--dark-red);
    z-index: 200;
  }

  .menu-slide .link {
    color: white;
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .mobile-nav-socials {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .mobile-nav-socials .icon {
    color: white;
    font-size: 2.5rem;
  }
  .navbar {
    grid-template-columns: 1fr 1fr;
  }
  .header-info {
    top: 55%;
  }
  .header-info h1 {
    font-size: 20vw;
  }
  .header-info h2 {
    font-size: 2.2rem;
    margin-top: -0.5rem;
  }

  .header-container h3 {
    width: 100%;
    text-align: center;
    left: 0;
  }

  .header-btn img {
    width: 300px;
    height: 300px;
  }
  .header-btn a {
    font-size: 1.6rem;
  }
  .single-detail {
    width: 100vw;
  }
  .main-detail-text {
    width: 100%;
  }
  .intro {
    height: 970px;
  }
  .intro-title {
    font-size: 2rem;
  }
  .featured-title {
    padding-top: 2.5rem;
  }
  .featured-products {
    height: 1250px;
  }
  .single-featured-detail {
    width: 100vw;
    align-items: center;
    padding-bottom: 4rem;
  }
  .single-featured-detail-1,
  .single-featured-detail-2,
  .single-featured-detail-3 {
    position: static;
    left: 0;
  }
  .featured-img-container {
    margin-right: 0;
    left: -4%;
  }
  .featured-text p {
    width: 90%;
    margin: 0 auto;
  }

  .single-detail img {
    width: 20%;
  }
  .single-detail .img-1 {
    width: 25%;
  }
  .single-detail-oposite {
    display: none;
  }
  .single-detail-mobile {
    display: block;
  }
  .single-detail-mobile img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .insta-posts {
    display: none;
  }
  .footer-brand-container {
    display: none;
  }

  .footer-title-img-container {
    display: none;
  }
  .footer-title-container {
    display: block;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
  }
  .footer-title {
    font-size: 1.5rem;
  }
  footer {
    height: 150px;
  }
  .footer-bottom {
    height: 200px;
  }
  .footer-bottom-main {
    display: block;
    text-align: center;
    height: 200px;
    padding-top: 2rem;
  }
  .footer-bottom-main h3 {
    font-size: 1rem;
  }
  .footer-bottom-left,
  .footer-bottom-middle,
  .footer-bottom-right {
    text-align: center;
    font-size: 0.5rem;
  }
  .footer-bottom-left,
  .footer-bottom-middle {
    padding-bottom: 1.5rem;
  }
  .carousel {
    width: 100vw;
  }
  .categories {
    display: none;
  }
  .header-info {
    width: 100%;
  }
  .header-info .heading-1 {
    display: none;
  }
  .header-info .heading-2 {
    display: flex;
    position: absolute;
    font-size: 8rem;
    top: -350px;
    left: 100px;
  }
}

@media screen and (max-width: 480px) {
  .intro-title {
    font-size: 1.5rem;
  }
  .intro-subtitle {
    padding-top: 0.8rem;
  }
  .featured-title {
    font-size: 1.8rem;
  }
  .featured-products {
    margin-bottom: 2rem;
  }
  .header-info h2 {
    font-size: 2rem;
  }
  .header-info .heading-2 {
    left: 50px;
  }
  .products-layout {
    padding: 0;
  }
  .footer-bottom-right,
  .footer-bottom-left {
    display: none;
  }
  .footer-bottom-mobile {
    display: block;
  }
  .footer-bottom {
    height: 130px;
  }
  .footer-bottom-main {
    padding-top: 1.5rem;
    height: 130px;
  }
  .single-product-layout {
    grid-template-columns: 1fr;
    width: 90vw;
    height: auto;
    padding-top: 0;
  }
  .image-gallery {
    width: 100%;
    padding-bottom: 2rem;
  }
  .single-product-details {
    text-align: center;
  }
  .single-product-details h1 {
    font-size: 2rem;
  }
  .single-product-details p {
    width: 100%;
  }
  .cart-btn-background {
    margin: 0 auto;
  }

  .single-product-back-btn {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  .single-product-back-btn a {
    color: var(--dark-red);
  }

  .single-product-back-btn a::before {
    content: "<< ";
  }

  .also-like-container h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
  }
  .header-info span {
    display: inline;
  }
}

@media screen and (max-width: 380px) {
  .featured-products {
    height: 1310px;
  }
  .single-slide-container img {
    width: 150px;
  }
}
