@font-face {
  font-family: "Bambino-Black";
  font-style: normal;
  font-weight: normal;
  src: local("Bambino-Black"), url("./fonts/Bambino Black.woff") format("woff");
}
@font-face {
  font-family: "Bambino-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Bambino-Bold"), url("./fonts/Bambino\ Bold.woff") format("woff");
}
@font-face {
  font-family: "Bambino-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bambino-Regular"), url("./fonts/Bambino.woff") format("woff");
}

html {
  --black: "Bambino-Black";
  --bold: "Bambino-Bold";
  --regular: "Bambino-Regular";
  --dark-yellow: #d8a448;
  --medium-yellow: #fed481;
  --light-yellow: #fff0c0;
  --dark-red: #e05151;
  --medium-red: #fd8180;
  --dark-green: #169986;
  --medium-green: #3ccdbf;
  --dark-blue: #256e93;
  --nav-width: 100vw;
  --nav-height: 100px;
  --nav-content-padding: 2rem;
  --link-transition: 0.2s all ease-in;
  --button-transition: 0.1s all ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Bambino-Regular";
}

a {
  text-decoration: none;
}

.section-center {
  width: 80%;
  margin: auto;
}

/*************** Navbar ***************/
nav {
  background: #b0acac;
  width: var(--nav-width);
  height: var(--nav-height);
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-container {
  background-color: #ffffff;
  opacity: 70%;
}

.navbar {
  height: var(--nav-height);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Bambino-Bold";
}

.navbar .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: var(--dark-red);
  font-size: 1.5rem;
  transition: var(--link-transition);
}

.link:hover {
  color: var(--dark-green);
}

.navbar .middle img {
  width: 7%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar .right {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  color: var(--dark-red);
  font-size: 2.2rem;
  transition: var(--link-transition);
  cursor: pointer;
}
.icon:hover {
  color: var(--dark-green);
}
/*************** End Navbar ***************/

/*************** Header ***************/

header {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header-sideline-img-1 {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.header-sideline-img-2 {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.image-container {
  width: 100vw;
  height: 100vh;
  z-index: -4;
  background: var(--light-yellow);
}

.header-img {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  object-fit: cover;
  opacity: 95%;
}

.header-info {
  position: absolute;
  top: 55%;
  left: 49%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 5;
}

.header-info h1 {
  font-size: 7rem;
}

.header-info h2 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.header-container h3 {
  color: white;
  position: absolute;
  left: 12%;
  bottom: 2%;
  z-index: 5;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.header-btn {
  background: var(--dark-red);
  color: white;
  border: none;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
  position: relative;
  transition: var(--button-transition);
}

.header-btn:hover {
  background: var(--dark-green);
}

.rainbow-img-container {
  position: absolute;
  right: 0;
  bottom: -0.8%;
  z-index: 5;
  width: 900px;
}

.rainbow-img {
  width: 100%;
}
/*************** End Header ***************/

/*************** Intro ***************/
.intro {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.intro-sideline-img-1 {
  position: absolute;
  top: -0.1%;
  left: 0;
  height: 100.1vh;
  z-index: 5;
  pointer-events: none;
}

.intro-sideline-img-2 {
  position: absolute;
  top: -0.1%;
  right: 0;
  height: 100.1vh;
  z-index: 5;
  pointer-events: none;
}

.intro-details {
  padding-top: 1rem;
}

.intro-title {
  text-align: center;
  font-size: 2.6rem;
}

.intro-subtitle {
  margin-top: -1.2rem;
}

.single-detail img {
  width: 15%;
  justify-self: end;
}

.single-detail .img-1 {
  width: 17%;
}

.single-detail {
  padding-bottom: 2rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* .intro-layout .img-1 {
  width: 14%;
} */

.intro-main-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-detail-text {
  width: 50%;
}

.main-detail-text h2 {
  font-size: 2.2rem;
  text-align: center;
}

.main-detail-text div {
  margin: 0 auto;
}

.main-detail-text p {
  font-size: 1.5rem;
  text-align: center;
}
/*************** End Intro ***************/

/*************** Featured ***************/
.featured-products {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.featured-sideline-img-1 {
  position: absolute;
  top: -0.1%;
  left: 0;
  height: 100.1vh;
  z-index: 5;
  pointer-events: none;
}

.featured-sideline-img-2 {
  position: absolute;
  top: -0.1%;
  right: 0;
  height: 100.1vh;
  z-index: 5;
  pointer-events: none;
}

.featured-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.featured-img {
  width: 40%;
  z-index: 1;
}

.featured-image-shadow {
  position: absolute;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-red);
}

/* .featured-image-shadow-1 {
  top: 44%;
  left: 19%;
  opacity: 0.8;
  filter: blur(3px);
}

.featured-image-shadow-2 {
  top: 44%;
  left: 19%;
  opacity: 0.8;
  filter: blur(3px);
}

.featured-image-shadow-3 {
  top: 44%;
  left: 19%;
  background: #d2042d;
} */

.rainbow {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 900px;
  pointer-events: none;
}

.leaf {
  width: 20%;
  position: absolute;
  top: -55%;
  left: 30%;
  z-index: -2;
}

.single-featured-detail {
  width: 55%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.featured-img-container {
  width: 25%;
  position: relative;
  margin-right: 2rem;
}

.featured-img-container img {
  width: 100%;
  border-radius: 50%;
}

.featured-img-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--dark-red);
  left: -4%;
  top: -7%;
  z-index: -1;
  filter: blur(2px);
}

.cherry {
  background: #d2042d;
  filter: blur(0);
}

.featured-text {
  width: 100%;
}

.single-featured-detail-1 {
  position: relative;
  left: -2%;
  /* margin-left: 22rem; */
}

.single-featured-detail-2 {
  position: relative;
  left: 3%;
  /* margin-left: 29rem; */
}

.single-featured-detail-3 {
  position: relative;
  left: 7%;
  /* margin-left: 36rem; */
}

.single-featured-detail p {
  font-size: 1.5rem;
  text-align: center;
}
.single-featured-detail h2 {
  font-size: 2.5rem;
  text-align: center;
}

/*************** End Featured ***************/

/*************** Footer ***************/
footer {
  width: 100vw;
  height: 100vh;
  background: var(--light-yellow);
  position: relative;
}

.footer-title-container {
  padding-top: 2rem;
}

.footer-title {
  text-align: center;
}

.insta-posts {
  margin-top: 3rem;
  width: 100vw;
  height: 25vw;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.footer-img-left {
  position: relative;
  left: -35%;
  top: -10%;
  width: 100%;
}

.footer-img-left img {
  width: 160%;
}

.footer-img-middle {
  background: white;
  z-index: 5;
}

.footer-img-right {
  position: relative;
  left: -20%;
  width: 125%;
}

.footer-img-right img {
  width: 100%;
}

.footer-brand {
  font-size: 6rem;
  color: var(--dark-blue);
  text-align: center;
}

.footer-bottom {
  background: #b0acac;
  width: var(--nav-width);
  height: var(--nav-height);
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-bottom-container {
  background-color: #ffffff;
  opacity: 70%;
}

.footer-bottom-main {
  height: var(--nav-height);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: "Bambino-Bold";
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-main div {
  font-size: 1.5rem;
}

.footer-bottom-left {
  text-align: start;
}
.footer-bottom-middle {
  text-align: center;
}
.footer-bottom-right {
  text-align: end;
}
/*************** End Footer ***************/

@media screen and (max-width: 1800px) {
}

@media screen and (max-width: 1600px) {
  .main-detail-text h2 {
    font-size: 2rem;
    text-align: center;
  }
  .main-detail-text p {
    font-size: 1rem;
  }
  .main-detail-text div {
    width: 90%;
  }
  .intro-layout img {
    width: 11%;
  }

  .intro-layout .img-1 {
    width: 13%;
  }
  .header-info h1 {
    font-size: 6rem;
  }

  .header-info h2 {
    margin-top: 2rem;
    font-size: 3rem;
    letter-spacing: 2px;
  }

  .single-featured-detail h2 {
    font-size: 2rem;
    text-align: center;
  }
  .single-featured-detail p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1366px) {
}
